.footer{
    bottom: 5%;
    position: fixed;
    margin-top: 3px; 
    width:100%;
}

.textarea {
    resize: none;
    min-height: 468px;
    max-height: 468px;
    margin-top: 0px;
    margin-bottom: 0px;
    flex-direction: column;
    display: flex;
  }

  .outer {
    display: flex;
    justify-content: start;
    flex-direction: column;
    text-align: left;
  }
  
  .inner {
    width: 100%;
    height:580px;
    margin: 10px;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 25px 00px 15px;
    border-radius: 15px;
    transition: all .3s;
  }

  .icon{
    display: flex;
    justify-content: flex-start;
}

.button
{
    margin: 10px;
    height:50px;
}